li {
    list-style-type: square;
}
li:hover {
    font-weight: bolder;
    cursor: pointer;
    display: inline-block;
}
.todoListMain {
    border: 2px solid peachpuff;
    display: inline-block;
    padding: 40px 60px;
    margin: 20px;
    background-color: ivory;
}